.change-profile-button {
    -fx-background-color: #dcdfe3;
    -fx-text-fill: black;
}

.chat-widget {

}

.user-input-container {
    -fx-border-color: red;
}

* {
    -primary-color: black;
    -primary-variant-color: gray;

}
